.jhon {
    color: #112233;
    font-size: 22px;
    padding: 22px;
}

.ben {
    background-color: #ff3311;
}

#test {
    border-radius: 50%;
    position: relative;
    height: 100px;
    width: 100px;
}

* {
   border: 0px;
}

.player {
    position: relative;
    width: 240px; /* player size */
    height: 240px; /* player size */
}

.over_center {
    position:absolute;
    top: 50%;
    left:50%;
    height: 160px; /* two thirds (2/3) of player size */
    width: 160px; /* two thirds (2/3) of player size */
    margin-top: -80px; /* negative one third of player size */
    margin-left: -80px; /* negative one third of player size */
    line-height: 160px; /* two thirds (2/3) of player size */
    text-align: center;
}

#tembel {
    color: #fff;
    border-radius: 50%;
    background-color: #000;
}

#timer {
    font-size: 40px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.song:hover{
    cursor:pointer;
    color: blue;
}

.playlist {
    
}

.artist {
    font-weight:bold;
}