* {
   border: 0px;
}

.over_center {
    position:absolute;
    top: 50%;
    left:50%;
    height: 160px; /* two thirds (2/3) of player size */
    width: 160px; /* two thirds (2/3) of player size */
    margin-top: -80px; /* negative one third of player size */
    margin-left: -80px; /* negative one third of player size */
    line-height: 160px; /* two thirds (2/3) of player size */
    text-align: center;
}

#top_circle {
    color: #111;
    border-radius: 50%;
    background-color: #000;
    font-family: Impact, Charcoal, sans-serif;
}

#timer {
    color: #808080;
    font-size: 40px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.song:hover{
    cursor:pointer;
    color: #00007A;
}

.playlist {
    background-color: #FFFFCC;
    border-radius: 10px;
    font-family: arial;
    width: 200px;
    border: solid;
    border-width: 6px;
    border-color: #CCCC7A;
    border-style: ridge;
    padding: 10px;
    list-style-type: none;
}

.artist {
    font-weight:bold;
}